<h1>Article <%=@article.id %></h1>
<table>
  <thead>
    <th>ID</th>
    <th>Title</th>
    <th>Description</th>
  </thead>
  <tr>
    <td><%=@article.id%></td>
    <td><%=@article.title%></td>
    <td><%=@article.description%></td>
  </tr>
<table>